Source: ros-rolling-ublox-msgs
Section: misc
Priority: optional
Maintainer: Veronica Lane <vmlane@alum.mit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake-ros, ros-rolling-rosidl-default-generators, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ublox-serialization, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/ublox
Standards-Version: 3.9.2

Package: ros-rolling-ublox-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-ublox-serialization, ros-rolling-ros-workspace
Description: ublox_msgs contains raw messages for u-blox GNSS devices.
