Source: ros-melodic-ublox
Section: misc
Priority: optional
Maintainer: Veronica Lane <vmlane@alum.mit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/ublox
Standards-Version: 3.9.2

Package: ros-melodic-ublox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Provides a ublox_gps node for u-blox GPS receivers, messages, and serialization packages for the binary UBX protocol.
